* {
    cursor: url('https://f2s5d3t3.stackpathcdn.com/img/kursor.kur/troll.cur'), auto !important;
}

body {
    margin: 0;
    background: #222222;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #909090;
    text-align: center;
}

#container {
    margin: 0 auto 0 auto;
    width: 880px;
}

img {
    border: none;
}

a:hover, a:active, a:link, a:visited {
    color: #c0c0c0;
    text-decoration: none;
}

h2 {
    margin: 0;
    padding-top: 10px;
}
    
h3 {
    margin: 0;
    padding-top: 5px;
    font-size: 18px;
}

#shoutboxkekw {
    float: left;
    z-index: 50;
    position: fixed;
    top: 0;
    bottom: 30;
    left: 0;
    height: auto;
    overflow: visible;
}